.form {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 20px;
	border: 5px solid var.$yellow;

	button {
		margin-top: 40px;
	}

	@media(min-width: 40em) {
		width: 90%;
		margin: 0 auto;
		padding: 50px;
	}

	@media(min-width: 60em) {
		padding: 100px;
		border-width: 10px;
	}

	@media(min-width: 80em) {
		padding: 200px;
		border-width: 10px;
	}
}
