.label {
	display: block;
	min-width: 100px;
	margin: 40px 0 16px;
	padding-right: 30px;
	font-family: var.$font_headings;
	font-weight: 600;
	text-transform: uppercase;

	@media(min-width: 60em) {
		min-width: 120px;
	}
}
