.details {
	--heading_underline: #{var.$primary};
	max-width: 800px;
	margin: 0 auto 40px;
	border: 5px solid transparent;
	text-align: left;

	&:nth-of-type(2n) {
		--heading_underline: #{var.$secondary};
	}

	&[open] {
		--heading_underline: #{var.$yellow};

		padding: 20px;
		border-color: var.$pink;
	}

	&:hover, &:focus {
		--heading_underline: #{var.$pink};
	}

	@media(min-width: 60em) {
		margin-bottom: 80px;

		&[open] {
			padding: 70px;
		}
	}
}

.summary {
	@include mixins.underline;

	padding-right: 1em;
	font-size: 1.4em;
	font-weight: 600;
	text-transform: uppercase;
	cursor: pointer;

	&:focus {
		--heading_underline: #{var.$yellow};
		outline-color: transparent;
	}

	&:after {
		bottom: -0.5%;
	}
}
