.logo {
	--logo-neutral: #{var.$grey};
	--logo-secondary: #{var.$secondary};
	--logo-gradient_1: url(#_LogoGradient1);
	--logo-gradient_2: url(#_LogoGradient2);

	path {
		fill: currentColor;
	}

	*:global(.cls-s) {
		color: var(--logo-secondary);
	}

	*:global(.cls-n) {
		color: var(--logo-neutral);
	}

	*:global(.gradient_1) {
		color: var(--logo-gradient_1);
	}

	*:global(.gradient_2) {
		color: var(--logo-gradient_2);
	}

	&[data-version="white"] {
		--logo-neutral: #{var.$white};
		--logo-secondary: #{var.$white};
		--logo-primary: #{var.$white};
		--logo-gradient_1: #{var.$white};
		--logo-gradient_2: #{var.$white};
	}
}


