// Colours
$primary: #007cbb;
$primary_light_90: #1989c2;
$primary_light_75: #409dcc;
$primary_light_50: #80bedd;
$primary_light_25: #bfdeee;
$primary_light_10: #e6f2f8;
$primary_dark_90: #0070a8;
$primary_dark_75: #005d8c;
$primary_dark_50: #003e5e;
$primary_dark_25: #001f2f;
$primary_dark_10: #000c13;

$secondary: #00acbb;
$secondary_light_90: #19b4c2;
$secondary_light_75: #40c1cc;
$secondary_light_50: #80d6dd;
$secondary_light_25: #bfeaee;
$secondary_light_10: #e6f7f8;
$secondary_dark_90: #009ba8;
$secondary_dark_75: #00818c;
$secondary_dark_50: #00565e;
$secondary_dark_25: #002b2f;
$secondary_dark_10: #001113;

$neutral: #000000;
$white: #ffffff;

$gradient: linear-gradient(138.17deg, $primary 18.9%, $secondary 82.35%);

$blue: #318ce7;
$darkpurple: #9440a0;
$green: #64ad66;
$pink: #cb5699;
$purple: #7561c1;
$red: #e53f51;
$yellow: #ffce03;
$orange: #ff8c00;

$good: $green;
$success: $good;
$warning: $orange;
$fail: $red;
$error: $fail;

// Typography
$font_main: Montserrat, Arial, sans-serif;
$font_headings: Quicksand, Arial, sans-serif;
$font_light: Lato, Arial, sans-serif;
$font_code: 'Source Code Pro', monospace;
