*, *:before, *:after {
	box-sizing: border-box;
}

:root {
	--primary: #{var.$primary};
	--secondary: #{var.$secondary};
	--neutral: #{var.$neutral};

	--blue: #{var.$primary};
	--darkpurple: #{var.$darkpurple};
	--green: #{var.$green};
	--pink: #{var.$pink};
	--purple: #{var.$purple};
	--red: #{var.$red};
	--yellow: #{var.$yellow};

	/* Text Colours and Highlights */
	--heading_underline: #{var.$yellow};
	--emphasis_text_colour: #{var.$pink};

	/* Buttons */
	--button_border: #{var.$purple};
	--button_background: #{var.$purple};
	--button_text: #{var.$white};
	--button_shadow: #{var.$white};

	/* Logo */
	--logo-neutral: #4c4c4d;
	--logo-secondary: #00b4c2;
	--logo-gradient: url('#_LogoGradient');
	--logo-gradient_1: url('#_LogoGradient1');
	--logo-gradient_2: url('#_LogoGradient2');

	/* Icons */
	--icon_background: #{var.$primary};
	--icon_primary: #{var.$white};
}

body, html {
	max-width: 100vw;
	overflow-x: hidden;
}

body {
	position: absolute;
	top: 0;
	width: 100vw;
	margin: 0;
}

.sr-only {
	position: absolute;
	right: -200vw;
}

#__next {
	display: grid;
	grid-template-rows: auto 1fr auto;
	min-height: 100vh;
}
