* {
	box-sizing: border-box;
}

:root {
	--primary: #{var.$primary};
	--secondary: #{var.$secondary};
	--neutral: #{var.$neutral};

	--blue: #{var.$primary};
	--darkpurple: #{var.$darkpurple};
	--green: #{var.$green};
	--pink: #{var.$pink};
	--purple: #{var.$purple};
	--red: #{var.$red};
	--yellow: #{var.$yellow};

	--heading_underline: #{var.$yellow};
}
