*, *:before, *:after {

	outline-offset: 0.2em;
	text-decoration-skip-ink: auto;
}

*:focus {
	outline: 3px solid var.$yellow;
}

body {
	color: var.$neutral;
	font-family: var.$font_main;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.4;

	@media(min-width: 60em) {
		font-size: 20px;
	}

	@media(min-width: 90em) {
		font-size: 24px;
	}
}

h1, h2, h3, h4, h5 {
	font-family: var.$font_headings;
}

h1, h2 {
	@include mixins.underline;
}

h1 {
	margin: 20px 0;
	padding-right: 0.5em;
	font-size: 6em;
	font-weight: 700;

	&:after {
		bottom: 25%;
	}
}

h2 {
	padding-right: 1em;
	font-size: 2em;
	font-weight: 600;
	text-transform: uppercase;
}

em {
	color: var.$pink;
	color: var(--emphasis_text_colour);
	font-style: italic;
	font-weight: 600;
}

pre, code, kbd {
	font-family: var.$font_code;
}

a {
	color: var.$primary;

	&:hover {
		@include mixins.underline;
		text-decoration: none;
	}
}

table {
	max-width: 100%;
	overflow-x: auto;
	border-collapse: collapse;
	font-size: 0.8em;

	thead {
		border-top: 3px solid var.$primary_dark_90;
		border-bottom: 3px solid var.$primary_dark_90;
		background: var.$primary_light_10;
	}

	th {
		padding: 20px;
	}

	td {
		padding: 15px;
		border-right: 1px solid var.$primary_light_25;
		text-align: center;

		&:last-child {
			border-right: none;
		}
	}

	tr {
		&:nth-child(2n) {
			background: var.$primary_light_10;
		}
	}
}

nav {
	ul, li {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	a {
		display: block;
	}
}
