.input {
	display: block;
	flex: 1 1 calc(100% - 100px);
	margin: 0;
	padding: 5px 25px;
	border: 2px solid var.$primary;
	background: var.$primary;
	color: #ffffff;
	font-size: 1em;

	@media(min-width: 60em) {
		flex-basis: calc(100% - 120px)
	}
}
